<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../../partials/head"); %>
</head>
<body>
    <h1>Logged in as <%= username %></h1>
    <a href="/dashboard/add">Add TODO</a>

    <form action="/dashboard/search" method="POST">
        <input type="text" name="searchTerm">
        <button type="submit">Search</button>
    </form>

    <% if (todos.length > 0) { %>
        <% todos.forEach(todo => { %>
            <a class="todo-body" href="/dashboard/item/<%= todo._id %>">
                <h3><%= todo.title %></h3>
                <p><%= todo.body %></p>
            </a>
        <% }); %>
    <% } else { %>
        <h4>No TODOs yet</h4>
        <a href="/dashboard/add">Add TODO</a>
    <% } %>

    <% if (todos.length > 0) { %>
        <ul>
            <% if (current == 1) { %>
                <li><a class="inactive" href="#">First</a></li>
            <% } else { %>
                <li><a href="/dashboard">First</a></li>
            <% } %>

            <% let i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
            <% if (i !== 1) { %>
                <li><a href="#">...</a></li>
            <% } %>
            <% while (i <= (Number(current) + 4) && i <= pages) { %>
                <% if (i == current) { %>
                    <li><a class="inactive" href="#"><%= i %></a></li>
                <% } else { %>
                    <li><a href="/dashboard/?page=<%= i %>"><%= i %></a></li>
                <% } %>
                <% if (i == Number(current) + 4 && i < pages) { %>
                    <li><a href="#">...</a></li>
                <% } %>
                <% i += 1 %>
            <% } %>
            <% if (pages == current) { %>
                <li><a class="inactive" href="#">Last</a></li>
            <% } else { %>
                <li><a href="/dashboard/?page=<%= pages %>">Last</a></li>
            <% } %>
        </ul>
    <% } %>

    <%- include("../../partials/footer") %>
</body>
</html>