<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../../partials/head"); %>
</head>
<body>
    <h1>View TODO</h1>
    <a href="/dashboard">Dashboard</a></li>
    <p>Title:</p>
    <p><%= todo.title %></p>
    <p>Body:</p>
    <p class="todo-body"><%= todo.body %></p>

    <form action="/dashboard/item-delete/<%= todoId %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>

    <form action="/dashboard/item/<%= todoId %>?_method=PUT" method="POST">
        <div>
            <input type="text" name="title" id="title" value="<%= todo.title %>" placeholder="Title">
        </div>
        <div>
            <textarea name="body" id="body" placeholder="Write something..." rows="12"><%= todo.body %></textarea>
        </div>
        <div>
            <button type="submit">Update</button>
        </div>
    </form>

    <%- include("../../partials/footer") %>
</body>
</html>